* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: 'Poppins', sans-serif;
}

#Password {
    font-family: 'Fira Code', monospace;
    font-weight: 400;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container {
    background: #fff;
    padding: 20px 24px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    height: auto;
}

.container .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container :nth-child(2) input {
    flex: 1;
    padding: 8px;
    padding-right: 35px;
    font-size: 14px;
    border-radius: 10px;
    border: transparent;
    box-shadow: 2px 5px 16px 1px rgba(102, 126, 234, 0.5);
    outline: none;
}

.container :nth-child(2) button {
    padding: 8px 10px;
    cursor: pointer;
    outline: none;
}

.container .password-box {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.password-box .firstbt {

    width: 100%;
    padding: 12px;
    background: #667eea;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    display: flex;
    align-items: center;
}

.container div .button {

    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #667eea;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=range] {
    -webkit-appearance: none;
    outline: none;
    background: #ddd;

    border-radius: 15px;
}

/* Thumb (circle) */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* remove default */
    width: 16px;
    height: 16px;
    background: #667eea;
    /* thumb color */
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

input[type="checkbox"] {
    accent-color: #667eea;
    cursor: pointer;
}

.password-box {
    position: relative;
}

#toggleEye {
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    top: 50%;
    left: 180px;
    transform: translateY(-50%);
}